# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/

# Never commit these
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
crashlytics-build.properties

# IDE
.idea/
.vs/
.vscode/
*.csproj
*.sln
*.user
